body::-webkit-scrollbar-thumb {
    background-color: #3bc8e7;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sq_track_slider.no-slider .track_list {
    flex: 0 0 20%;
    width: 20%
}

.sq_music_tracks .owl-stage-outer {
    padding-bottom: 5px
}

.sq_track_slider.no-slider {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px
}

.sq_track_slider.no-slider .track_list {
    flex: 0 0 14.2857142857%;
    width: 14.2857142857%;
    position: relative;
    padding: 12px;
    overflow: hidden;
    display: block
}

.sq_music_tracks .track_list .track {
    background-color: #383838;
    padding: 10px;
    border-radius: 5px;
}

.sq_music_tracks .track .cover_art a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    padding-top: 100%
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr span {
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    margin-bottom: .25em;
    text-transform: uppercase
}

.sq_music_tracks .track .cover_art a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px
}

.icon-svg {
    width: 35px;
}

.a_name {
    color: #3bc8e7;
    font-size: 14px;
}

.share-btn.web-share {
    cursor: pointer;
    width: 100%
}

.share-btn {
    display: inline-block;
    padding: 5px 0;
    background: #4a4a4a;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    flex-grow: 1;
    text-align: center
}

.share-buttons {
    display: none;
    justify-content: space-between
}

.share-btn.wa {
    background: #25D366;
    margin: 0 8px 0 0;
}

.share-btn.fb {
    background: #3b5999;
    margin: 0 8px 0 0;
}

.share-btn.tw {
    background: #55acee;
    margin: 0 8px 0 0;
}

.share-btn.rd {
    background: #ff5700;
    margin: 0 8px 0 0;
}

.play_album {
    background: #e72c30;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 21px;
    margin-left: 12px;
}

.share-btn.po {
    background: #df2029;
    margin: 0 8px 0 0;
}

.share-btn:hover {
    background: #3bc8e7
}

.feed_song .first .cover .play_btn svg,
.sq_music_tracks .track .cover_art .play_btn svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(.7);
    width: 45px;
    height: 45px;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.feed_song:hover .first .cover .play_btn,
.sq_music_tracks .track .cover_art:hover .play_btn {
    opacity: 1;
    visibility: visible
}

.feed_song:hover .first .cover .play_btn svg,
.sq_music_tracks .track .cover_art:hover .play_btn svg {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
}

.sq_music_tracks .track .track_info {
    padding: 10px 0
}

.sq_music_tracks .track .track_info .artist {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8d96bf;
    font-size: 14px
}

.home_widget_title {
    margin-bottom: 20px;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 10px;
    color: #ffffff
}

.tag-link {
    font-weight: 500;
    color: #3bc8e7
}

.queue_overlay,
.sidenav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
    transition: all .2s ease
}

body.data-queue-open .queue_overlay,
body.side_open .sidenav_overlay {
    opacity: 1;
    visibility: visible
}

.sidebar {
    height: 100%;
    overflow: hidden
}

.sidebar .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 5px 0
}

.sidebar .logo_container img {
    width: 100%;
    max-width: 150px
}

.sidebar .sidebar_innr {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 60px)
}

.sidebar .sidebar_innr .sections {
    padding: 0 0 25px;
    list-style-type: none;
    margin: 0
}

.sidebar .sidebar_innr .sections:first-child {
    padding-top: 30px
}

header .head_user .head_search_mobi {
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    color: #ebebeb;
    display: none
}

header .head_search .head_search_cont .head_search_mobi_close {
    display: none;
    position: absolute;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    color: #ebebeb;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .14);
    border-radius: 50%
}

header .head_user {
    margin-left: auto
}

header .head_search .head_search_cont>svg {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    color: #737373
}

header .head_search .search_dropdown {
    position: absolute;
    background-color: #3e3e3e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 39px;
    border-radius: 0 0 8px 8px;
    z-index: 99
}

header .head_search .head_search_cont {
    position: relative
}

header .head_search .head_search_cont input {
    height: 40px;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 40px 0 55px;
    width: 600px
}

header .head_logo {
    display: none;
    margin-right: 70px
}

header .head_logo a img {
    max-width: 125px
}

header .head_menu {
    margin-right: 15px;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    margin-left: -5px;
    color: #ebebeb;
    display: none
}

#main-header {
    z-index: 9;
    position: relative
}

header {
    background-color: #161616;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 45px;
    margin-left: 240px
}

.music_app {
    display: block;
    position: relative;
    color: #d2d2d2;
    width: 100%
}

.ma_container {
    width: 100%;
    position: relative
}

.ma_sidebar {
    display: block;
    width: 240px;
    max-width: 240px;
    background-color: #161616;
    color: inherit;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .34)
}

.ma_page_content {
    position: relative;
    z-index: 5;
    display: block;
    margin-left: 240px;
    min-height: 100vh
}

.ma_pc_inner {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0 90px
}

.hidden {
    display: none !important
}

.page_padding {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

a {
    text-decoration: none !important
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    overflow: hidden;
    overflow-y: auto;
    color: #dadada;
    background: #272727
}

* {
    outline: 0 !important
}

.ma_footer {
    color: #00dcff;
    font-size: 12px;
    line-height: 16px;
    padding: 0 12px;
    padding-top: 10px;
    border-top: 1px solid #383c3f;
    margin: 0 10px 65px
}

.ma_footer .ma_footer_cright {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3px
}

.ma_footer .ma_footer_links a {
    color: #b0b0b0
}

header .head_search .search_dropdown .trend_head {
    font-size: 11px;
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: 500;
    padding: 7px 20px;
    display: flex;
    align-items: center
}

header .head_search .search_dropdown .serach_trend a {
    display: block;
    padding: 7px 20px;
    color: #fff
}

header .head_search .search_dropdown .serach_trend a:hover {
    background: #161616;
    color: #fff
}

@media (min-width:1200px) {
    .page_padding {
        max-width: 1140px
    }
}

@media (min-width:1650px) {
    .page_padding {
        max-width: 1300px
    }
}

@media (max-width:1400px) {
    header .head_search .head_search_cont input {
        width: 470px
    }

    .sq_track_slider.no-slider .track_list {
        flex: 0 0 20%;
        width: 20%
    }
}

@media (max-width:1140px) {
    .ma_sidebar {
        width: 70px;
        max-width: 70px
    }

    .sidebar .sidebar_innr {
        height: 100%
    }

    .sidebar .logo_container,
    .sidebar .sidebar_innr .sections:first-child h3 {
        display: none
    }

    .sidebar .sidebar_innr .sections h3 {
        font-size: 0;
        border-top: 1px solid rgba(255, 255, 255, .22);
        padding: 0;
        margin: -13px 0 13px
    }

    .sidebar .sidebar_innr .sections li a {
        padding: 0 21px;
        font-size: 0
    }

    .sidebar .sidebar_innr .sections li a svg {
        margin: 0
    }

    .ma_page_content {
        margin-left: 70px
    }

    header {
        padding: 0 30px;
        margin-left: 70px
    }

    header .head_logo {
        display: block
    }

    header .head_search .head_search_cont input {
        width: 300px
    }

    .ma_footer {
        display: none
    }
}

@media (max-width:1024px) {
    header .head_search .head_search_cont input {
        width: 250px
    }
}

@media (max-width:992px) {

    .pub_playlists .pplist_slider .track_list,
    .sq_track_slider.no-slider .track_list {
        flex: 0 0 25%;
        width: 25%
    }

    body.side_open {
        overflow: hidden
    }

    header {
        padding: 0 20px;
        margin-left: 0
    }

    .sidebar .sidebar_innr .sections:first-child h3,
    header .head_menu {
        display: block
    }

    .ma_sidebar {
        width: calc(100% - 56px);
        max-width: 280px;
        left: -280px;
        transition: all .2s;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
        bottom: 0;
        z-index: 9999
    }

    body.side_open .ma_sidebar {
        left: 0
    }

    .ma_page_content {
        margin-left: 0
    }

    .sidebar .logo_container {
        display: flex
    }

    .sidebar .sidebar_innr {
        height: calc(100% - 80px)
    }

    .sidebar .sidebar_innr .sections h3 {
        font-size: 12px;
        border-top: none;
        padding: 6px 24px 10px;
        margin: 0
    }

    .sidebar .sidebar_innr .sections li a {
        padding: 0 24px;
        font-size: 15px
    }

    .sidebar .sidebar_innr .sections li a svg {
        margin-right: 27px
    }

    header .head_search .head_search_cont input {
        width: 220px;
        padding: 0 5px 0 55px
    }

    .ma_footer {
        display: block
    }

    .ss_action_item {
        margin-right: 5px;
        min-width: 86px;
        padding: 3px 3px
    }

    .see_all {
        margin-bottom: 25px
    }

    .single_song .ssong_header .ss_sub_body .ss_track_info_innr .ss_stats {
        white-space: nowrap;
        overflow-x: auto
    }

    .sq_track_slider.no-slider .ds_radio_stat_list {
        flex: 0 0 33.3333333%;
        width: 33.3333333%
    }
}

@media (max-width:900px) {
    header .head_search .head_search_cont input {
        width: 340px
    }
}

@media (max-width:800px) {
    header .head_search {
        position: absolute;
        top: -59px;
        left: 0;
        right: 0;
        width: 100%;
        height: 59px;
        transition: all .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 9
    }

    header .head_user .head_search_mobi {
        display: inline-block
    }

    body.search_open header .head_search {
        top: 0;
        opacity: 1;
        visibility: visible
    }

    header .head_search .head_search_cont {
        margin: 0 10px
    }

    header .head_search .head_search_cont input {
        width: 100% !important;
        margin: 9px 0;
        border-radius: 2px;
        padding: 0 40px 0 50px
    }

    body.search_open header .head_search .head_search_cont .head_search_mobi_close {
        display: block
    }
}

@media (max-width:1220px) {
    .sq_track_slider.no-slider .track_list {
        flex: 0 0 25%;
        width: 25%
    }

    header .head_search .head_search_cont input {
        width: 390px
    }
}

@media (max-width:768px) {
    .store_short_albums.sq_track_slider.no-slider .track_list {
        flex: 0 0 20%;
        width: 20%
    }
}

@media (max-width:700px) {

    .sq_track_slider.no-slider.top_albums_lists_pag .track_list,
    .store_short_albums.sq_track_slider.no-slider .track_list {
        flex: 0 0 25%;
        width: 25%
    }
}

@media (max-width:565px) {

    .search_albums .sq_track_slider.no-slider .track_list,
    .sq_track_slider.no-slider.top_albums_lists_pag .track_list,
    .store_short_albums.sq_track_slider.no-slider .track_list {
        flex: 0 0 33.3333333%;
        width: 33.3333333%
    }
}

@media (max-width:520px) {
    .sq_track_slider.no-slider .track_list {
        flex: 0 0 33.3333333%;
        width: 33.3333333%
    }
}

@media (max-width:435px) {

    .sq_track_slider.no-slider .track_list,
    .sq_track_slider.no-slider.top_albums_lists_pag .track_list,
    .store_short_albums.sq_track_slider.no-slider .track_list {
        flex: 0 0 50%;
        width: 50%
    }
}

body,
html {
    width: 100%;
    height: 100%
}

body {
    overflow: hidden;
    overflow-y: auto;
    color: #dadada
}

* {
    outline: 0 !important
}

.clearfix {
    clear: both
}

a {
    text-decoration: none !important
}

.mb-60 {
    margin-bottom: 60px
}

.hidden {
    display: none !important
}

.btn-outline-primary {
    color: #fff;
    background: #6a6a6a;
    border: 0;
    margin: 10px
}

.music_app {
    display: block;
    position: relative;
    color: #d2d2d2;
    width: 100%
}

.ma_container {
    width: 100%;
    position: relative
}

.ma_page_content {
    position: relative;
    z-index: 5;
    display: block;
    margin-left: 240px;
    min-height: 100vh
}

.ma_pc_inner {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 0 90px
}

#main-header {
    z-index: 9;
    position: relative
}

header {
    background-color: #161616;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 45px;
    margin-left: 240px
}

header .head_menu {
    margin-right: 15px;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    margin-left: -5px;
    color: #ebebeb;
    display: none
}

header .head_logo {
    display: none;
    margin-right: 70px
}

header .head_logo a img {
    max-width: 125px
}

header .head_search .head_search_cont {
    position: relative
}

header .head_search .head_search_cont>svg {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    color: #737373
}

header .head_search .search_dropdown {
    position: absolute;
    background-color: #3e3e3e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    max-height: calc(100vh - 170px);
    overflow-y: auto;
    left: 0;
    right: 0;
    top: 39px;
    border-radius: 0 0 8px 8px;
    z-index: 99
}

header .head_user {
    margin-left: auto
}

header .head_user .head_search_mobi {
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    color: #ebebeb;
    display: none
}

header .head_search .head_search_cont .head_search_mobi_close {
    display: none;
    position: absolute;
    line-height: 1;
    cursor: pointer;
    padding: 5px;
    color: #ebebeb;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, .14);
    border-radius: 50%
}

.sidebar {
    height: 100%;
    overflow: hidden
}

.sidebar .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 5px 0
}

.sidebar .logo_container img {
    width: 100%;
    max-width: 150px
}

.sidebar .sidebar_innr {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 60px)
}

.sidebar .sidebar_innr .sections {
    padding: 0 0 25px;
    list-style-type: none;
    margin: 0
}

.sidebar .sidebar_innr .sections:first-child {
    padding-top: 30px
}

.sidebar .sidebar_innr .sections:last-child {
    padding-bottom: 15px
}

.sidebar .sidebar_innr .sections h3 {
    margin: 0;
    padding: 6px 24px 10px;
    font-size: 12px;
    letter-spacing: .75px;
    text-transform: uppercase;
    color: #00dcff
}

.sidebar .sidebar_innr .sections li {
    display: block;
    width: 100%;
    height: 35px
}

.sidebar .sidebar_innr .sections li a {
    padding: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #f9f9f9;
    transition: all .1s
}

.sidebar .sidebar_innr .sections li a:hover {
    background-color: rgba(0, 0, 0, .14)
}

.sidebar .sidebar_innr .sections li.active {
    font-weight: 500;
    color: #fff;
    background-color: #00dcff
}

.sidebar .sidebar_innr .sections li a svg {
    margin: 0;
    margin-right: 27px;
    width: 24px;
    height: 24px
}

.queue_overlay,
.sidenav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 999;
    transition: all .2s ease
}

body.data-queue-open .queue_overlay,
body.side_open .sidenav_overlay {
    opacity: 1;
    visibility: visible
}

.home_widget_title .slide_btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-family: Roboto, sans-serif
}

.home_widget_title .slide_btns>div {
    font-size: 0
}

.home_widget_title .slide_btns button {
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%
}

.home_widget_title .slide_btns button span {
    display: none
}

.home_widget_title .slide_btns button.owl-prev {
    background-image: url("https://djyoungster.org/music/thumb/assets/prev.svg");
    margin-right: 5px
}

.home_widget_title .slide_btns button.owl-next {
    background-image: url("https://djyoungster.org/music/thumb/assets/arrow.svg")
}

.home_widget_title .slide_btns button.disabled {
    cursor: default;
    opacity: .4
}

.short_list_cont .s_list_songs,
.short_list_cont .s_lsongs_child {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.short_list_cont .s_lsongs_child {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    align-items: center;
    padding: 10px 5px;
    transition: all .5s
}

.short_list_cont .s_list_songs>li:last-child .s_lsongs_child {
    border: 0
}

.short_list_cont .s_lsongs_child:hover {
    background: rgba(255, 255, 255, .05)
}

.short_list_cont .s_lsongs_child .first {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px
}

.short_list_cont .s_lsongs_child .second {
    flex: 1
}

.short_list_cont .s_lsongs_child .third {
    color: #142057;
    display: flex;
    align-items: center
}

.short_list_cont .s_lsongs_child .numbers {
    line-height: 1;
    transition: all .1s
}

.short_list_cont .s_lsongs_child:hover .numbers {
    opacity: 0;
    visibility: hidden
}

.short_list_cont .s_lsongs_child .art_details h4 a {
    color: #fff !important
}

.short_list_cont .s_lsongs_child .art_details h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #142057;
    display: block;
    font-size: 15px;
    margin: 0;
    transition: all .2s
}

.short_list_cont .s_lsongs_child .duration {
    margin-right: 10px;
    font-size: 14px
}

.short_list_cont .wide_page_songs .s_lsongs_child .first {
    width: 68px;
    margin-right: 20px
}

.short_list_cont .wide_page_songs .s_lsongs_child:hover .numbers {
    opacity: 1;
    visibility: visible
}

.short_list_cont .wide_page_songs .s_lsongs_child {
    min-height: 55px
}

.sq_music_tracks .owl-stage-outer {
    padding-bottom: 5px
}

.sq_music_tracks .track .cover_art a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
    padding-top: 100%
}

.sq_music_tracks .track .cover_art a img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px
}

.feed_song .first .cover .play_btn,
.sq_music_tracks .track .cover_art .play_btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(53, 67, 74, .8);
    color: #d2d2d2;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    overflow: hidden;
    border-radius: 4px
}

.feed_song .first .cover .play_btn svg,
.sq_music_tracks .track .cover_art .play_btn svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(.7);
    width: 45px;
    height: 45px;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.sq_music_tracks .track .track_info {
    padding: 10px 0
}

.sq_music_tracks .track .track_info .title {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.sq_music_tracks .track .track_info .artist {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #3bc8e7;
    font-size: 14px
}

.artist_s_list .wide_page_songs .s_lsongs_child .second_a {
    width: 32.5%;
    float: left
}

.single_song .ssong_header .ss_sub_body .ss_image {
    width: 250px;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, .2)
}

.single_song .ssong_header .ss_sub_body .ss_track_info {
    margin-left: 270px
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr {
    padding-top: 10px
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr h2 {
    font-size: 28px;
    color: #142057
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr h3 {
    font-size: 15px;
    color: #142057;
    font-weight: 400
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr h4 {
    color: #02bedc;
    font-size: 13px;
    margin-bottom: .25em;
    text-transform: uppercase
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr p {
    color: #fff
}

.single_song .ssong_header .ss_sub_body .ss_track_info_innr p a {
    color: #142057
}

.ss_actions_innr p {
    text-transform: lowercase;
    text-align: justify;
    color: #888888;
    line-height: 2
}

.search_songs {
    background-color: #383838;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 5px
}

.search_songs .wide_page_songs .s_lsongs_child .first .numbers {
    margin-left: -8px
}

.search_songs .wide_page_songs .s_lsongs_child .first .numbers img {
    width: 36px;
    height: 36px;
    object-fit: cover
}

@media (min-width:1200px) {
    .page_padding {
        max-width: 1140px
    }
}

@media (min-width:1650px) {
    .page_padding {
        max-width: 1300px
    }
}

@media (max-width:1400px) {
    header .head_search .head_search_cont input {
        width: 470px
    }
}

@media (max-width:1220px) {
    header .head_search .head_search_cont input {
        width: 390px
    }
}

@media (max-width:1140px) {
    .ma_sidebar {
        width: 70px;
        max-width: 70px
    }

    .sidebar .sidebar_innr {
        height: 100%
    }

    .sidebar .logo_container,
    .sidebar .sidebar_innr .sections:first-child h3 {
        display: none
    }

    .sidebar .sidebar_innr .sections h3 {
        font-size: 0;
        border-top: 1px solid rgba(255, 255, 255, .22);
        padding: 0;
        margin: -13px 0 13px
    }

    .sidebar .sidebar_innr .sections li a {
        padding: 0 21px;
        font-size: 0
    }

    .sidebar .sidebar_innr .sections li a svg {
        margin: 0
    }

    .ma_page_content {
        margin-left: 70px
    }

    header {
        padding: 0 30px;
        margin-left: 70px
    }

    header .head_logo {
        display: block
    }

    header .head_search .head_search_cont input {
        width: 300px
    }

    .ma_footer {
        display: none
    }
}

@media (max-width:1024px) {
    header .head_search .head_search_cont input {
        width: 250px
    }
}

@media (max-width:992px) {
    body.side_open {
        overflow: hidden
    }

    header {
        padding: 0 20px;
        margin-left: 0
    }

    .sidebar .sidebar_innr .sections:first-child h3,
    header .head_menu {
        display: block
    }

    .ma_sidebar {
        width: calc(100% - 56px);
        max-width: 280px;
        left: -280px;
        transition: all .2s;
        box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
        bottom: 0;
        z-index: 9999
    }

    body.side_open .ma_sidebar {
        left: 0
    }

    .ma_page_content {
        margin-left: 0
    }

    .sidebar .logo_container {
        display: flex
    }

    .sidebar .sidebar_innr {
        height: calc(100% - 80px)
    }

    .sidebar .sidebar_innr .sections h3 {
        font-size: 12px;
        border-top: none;
        padding: 6px 24px 10px;
        margin: 0
    }

    .sidebar .sidebar_innr .sections li a {
        padding: 0 24px;
        font-size: 15px
    }

    .sidebar .sidebar_innr .sections li a svg {
        margin-right: 27px
    }

    header .head_search .head_search_cont input {
        width: 220px;
        padding: 0 5px 0 55px
    }

    .ma_footer {
        display: block
    }

    .ss_action_item {
        margin-right: 5px;
        min-width: 86px;
        padding: 3px 3px
    }

    .see_all {
        margin-bottom: 25px
    }

    .single_song .ssong_header .ss_sub_body .ss_track_info_innr .ss_stats {
        white-space: nowrap;
        overflow-x: auto
    }

    .sq_track_slider.no-slider .ds_radio_stat_list {
        flex: 0 0 33.3333333%;
        width: 33.3333333%
    }
}

@media (max-width:900px) {
    header .head_search .head_search_cont input {
        width: 340px
    }
}

@media (max-width:800px) {
    header .head_search {
        position: absolute;
        top: -59px;
        left: 0;
        right: 0;
        width: 100%;
        height: 59px;
        transition: all .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 9
    }

    header .head_user .head_search_mobi {
        display: inline-block
    }

    body.search_open header .head_search {
        top: 0;
        opacity: 1;
        visibility: visible
    }

    header .head_search .head_search_cont {
        margin: 0 10px
    }

    header .head_search .head_search_cont input {
        width: 100%;
        margin: 9px 0;
        border-radius: 2px;
        padding: 0 40px 0 50px
    }

    body.search_open header .head_search .head_search_cont .head_search_mobi_close {
        display: block
    }
}

@media (max-width:768px) {
    .single_song .ssong_header .ss_sub_body .ss_image {
        float: none !important;
        margin: 0 auto 20px
    }

    .single_song .ssong_header .ss_sub_body .ss_track_info {
        margin-left: 0
    }

    .artist_s_list .wide_page_songs .s_lsongs_child .second .a_name {
        display: block
    }

    .artist_s_list .wide_page_songs .s_lsongs_child .second_a,
    .artist_songs .head_title li.artist {
        display: none
    }

    .artist_s_list .wide_page_songs .s_lsongs_child .second,
    .artist_songs .head_title li.title {
        width: 66%
    }

    .artist_s_list .wide_page_songs .s_lsongs_child .first,
    .artist_songs .head_title li.hash {
        padding-left: .5%
    }

    .ma_discover_page .short_list_card {
        margin-bottom: 30px
    }
}

@media (max-width:520px) {

    .artist_s_list .wide_page_songs .s_lsongs_child .third .duration,
    .artist_songs .head_title li svg,
    .ma_discover_page .short_list_cont .s_lsongs_child .duration {
        display: none
    }
}

@media (max-width:485px) {
    header {
        padding: 0 11px
    }

    header .head_menu {
        margin: 0 10px
    }

    header .head_user:not(.not_loggd_hdrr) {
        margin-left: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%
    }

    header .head_logo {
        margin-right: 0
    }

    header .loggd_hd_logo a {
        color: #d2d2d2;
        display: block;
        padding: 5px;
        margin: 0 -10px
    }

    header .loggd_hd_logo svg {
        display: block
    }

    header .head_user {
        margin-left: auto
    }
}

@media (max-width:435px) {
    .home_widget_title {
        font-size: 19px
    }

    .home_widget_title .slide_btns a {
        font-size: 12px;
        margin-right: 10px
    }

    header .head_user {
        position: inherit
    }

    header .head_user {
        right: 78px
    }

    header .head_user {
        left: 0;
        right: 0;
        min-width: auto;
        width: 100%;
        top: 60px
    }
}

@media (max-width:400px) {

    .artist_s_list .wide_page_songs .s_lsongs_child .first .fav_song,
    .ma_discover_page .short_list_cont .s_lsongs_child .first,
    .top_dic_son_listz.short_list_cont .s_lsongs_child .first,
    .top_dic_son_listz.short_list_cont .s_lsongs_child .third .duration {
        display: none
    }

    .ma_discover_page .short_list_cont .s_lsongs_child .second {
        padding-right: 18px
    }

    .top_dic_son_listz.short_list_cont .s_lsongs_child .second {
        max-width: calc(100% - 25px)
    }
}

@media (max-width:345px) {
    header .head_logo {
        margin-right: 5px
    }

    header .head_logo a img {
        max-width: 120px
    }

    header .head_user {
        margin-left: 0
    }

    header .head_user,
    header .head_user .head_search_mobi,
    header .opts_head_acc {
        padding: 3px
    }
}

@media (max-width:600px) {

    .single_song .ssong_header .ss_sub_body .ss_track_info_innr,
    .single_song .ssong_header .ss_sub_body .ss_track_info_innr .ss_stats li:last-child {
        margin: 0
    }
}

.owl-carousel,
.owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative
}

.owl-carousel {
    display: none;
    width: 100%;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}

.owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    border-radius: 4px
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
    display: none
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-refresh .owl-item {
    visibility: hidden
}

.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
    margin-top: 10px
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791
}

@media (min-width:1100px) {
    #container_content {
        width: 100%;
        float: left;
    }
}